<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Change User</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %} 
        <div class="flashmsg">
            {% for message in messages %} 
            <h3>{{ message }}</h3>
            {% endfor %}
        </div>
        {% endif %} 
       {% endwith %}
      <form action="/changeUser" method="POST">
        <label for="username">New username <input type="text" name="username" placeholder="username" value="{{ username }}"></label>
        <label for="password">Current password <input type="password" name="current_password" placeholder="password" required></label>
        <hr>
        <label for="password">New password <input type="password" name="new_password" placeholder="password" required></label>
        <label for="password">Confirm new password <input type="password" name="confirm_password" placeholder="password" required></label>
        <button type="submit">Change</button>
      </form>
      <a href="{{ url_for('main.index') }}"><button>Return</button></a>

    </div>
    
  </body>
</html>