<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Change User</h1>

      <form action="/changeUser" method="POST">
        <label for="username">New username <input type="text" name="username" placeholder="username" required></label>
        
        <label for="password">New password <input type="password" name="password" placeholder="password" required></label>
        
        <button type="submit">Change</button>
      </form>

    </div>
    
  </body>
</html>